---
http_interactions:
- request:
    method: get
    uri: 'https://sheets.googleapis.com/v4/spreadsheets/--------/values/A1:E10?key=<env:
      google_sheets_api_key>'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 404,
            "message": "Requested entity was not found.",
            "status": "NOT_FOUND"
          }
        }
  recorded_at: Fri, 01 Apr 2022 02:10:47 GMT
recorded_with: VCR 6.1.0
